{% if Language == 'English' or Language is none %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{Admin}}">
    <link rel="stylesheet" href="{{settings}}">
    <title>Add Manual Exam</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand Variable" href="#">{{Sett['site_name']}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('dashboard')}}">Back</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
<div class="parent">
    <div class="welcome-part alert alert-success">
        <p>Welcome admin : {{ user['first_name'] }} at <span class="Variable">{{Sett['site_name']}}</span> Dashboard </p>
        <p>this is page is for adding a manual exam
        </p>
    </div>
     <div class="si">
        <h3>Add Exam</h3>
        <div class="si-cont">
        <span>Fill the information</span>

            <form action="" class="AddExamForm" method="POST">
                <div class="my-row Q-Configuration">

                    <h3 style="margin: 10px auto">Exam Requirements</h3>
                    <div class="ExamRequirements">

                    <div class="ExamInfo" style="margin: 0px auto">
                    <small style="display : block;" class="hide" id="msg"></small>
                    <input type="number" class="form-control si-addition" id="Du" placeholder="duration">
                    </div>

                    <div class="ExamInfo" style="margin: 0px auto">
                    <input type="time" class="form-control si-addition" id="from"  placeholder="From">
                    <input type="time" class="form-control si-addition" id="to"  placeholder="To">
                    </div>
                    </div>
                        <hr>
                    <div class="QuestionPart">
                    <h3 style="margin: 10px auto">Questions Requirements</h3>
                    {% if Sett['Q-Configuration'] %}
                    {% for q in Sett['Q-Configuration'] %}
                    {% if q['type'] == 'select' %}
                    <small style="display : block;" class="hide {{ q['label'] }}"></small>
                    <select name="TypeOfQ" class="form-control si-addition" id="{{ q['label'] }}">
                        <option value="" selected>select {{ q['label'] }}</option>
                        {% for v in q['values'] %}
                        <option value="{{v}}" >{{v}}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    <input type="text" class="form-control si-addition" id="{{ q['label'] }}"  placeholder="{{ q['label'] }}">
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    </div>
                    <hr>
                    <div class="StudentPart">
                    <h3 style="margin: 10px auto">Students Requirements</h3>
                    {% if Sett['Addition-Information'] %}
                    {% for q in Sett['Addition-Information'] %}
                    {% if q['InfoValue'] == "Exam" %}
                    {% if q['type'] == 'select' %}
                    <small style="display : block;" class="hide {{ q['label'] }}"></small>
                    <select name="{{ q['label'] }}" class="form-control si-addition" id="{{ q['label'] }}">
                        <option value="" selected>select {{ q['label'] }}</option>
                        {% for v in q['values'] %}
                        <option value="{{v}}" >{{v}}</option>
                        {% endfor %}
                    </select>
                    {% else %}
                    <input type="text" class="form-control si-addition" id="{{ q['label'] }}"  placeholder="{{ q['label'] }}">
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                </div>
                  <button type="submit" class="btn btn-success" id="AddQToDataBase" style="margin: 5px auto;">Add Exam</button>
            </form>

        </div>
    </div>
    </div>
        <div id="QuestionChoose" class="container">

        </div>
        <div id="bu" class="mt-4 mb-4" style="display:flex; flex-direction:column">
            <small class="mb-2" id="Array_of_Question"  style="margin : auto;"></small>
            <button id="addExam" class="btn btn-success" style="margin : auto;"> Add Questions </button>
        </div>


        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/AddManExam.js') }}"></script>
</body>
</html>
{% elif Language =="Arabic" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{Admin}}">
    <link rel="stylesheet" href="{{settings}}">
    <title>Add Manual Exam</title>
</head>
<body style="direction:rtl">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand Variable" href="#">{{Sett['site_name']}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto" style="margin-right : unset !important; margin-left: auto !important">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('dashboard')}}">رجوع</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
<div class="parent">
    <div class="welcome-part alert alert-success">
        <p style="float:right">مرحبا يا : {{ user['first_name'] }} في لوحة تحكم <span class="Variable">{{Sett['site_name']}}</span>  </p>
        <div class="clearfix"></div>
        <p style="float:right">هذه الصفحة لاضافة امتحانات يدوية
        </p>
    <div class="clearfix"></div>
    </div>
     <div class="si">
        <h3>اضافة امتحان</h3>
        <div class="si-cont">
        <span>املئ جميع الخانات</span>

            <form action="" class="AddExamForm" method="POST">
                <div class="my-row Q-Configuration">

                    <h3 style="margin: 10px auto">متطلبات الامتحان</h3>
                    <div class="ExamRequirements">

                    <div class="ExamInfo" style="margin: 0px auto;width: 50%;">
                    <small style="display : block;" class="hide" id="msg"></small>
                    <input style="width:100%" type="number" class="form-control si-addition" id="Du" placeholder="مدة الامتحان بالدقائق">
                    </div>

                    <div class="ExamInfo" style="margin: 0px auto">
                    <input type="time" class="form-control si-addition" id="from"  placeholder="من">
                    <input type="time" class="form-control si-addition" id="to"  placeholder="الي">
                    </div>
                    </div>
                        <hr>
                    <div class="QuestionPart">
                    <h3 style="margin: 10px auto">متطلبات تحديد الاسئلة</h3>
                    {% if Sett['Q-Configuration'] %}
                    {% for q in Sett['Q-Configuration'] %}
                    {% if q['type'] == 'select' %}
                    <small style="display : block;" class="hide {{ q['label'] }}"></small>
                            <div class="clearfix"></div>
                        <select style="float:right" name="TypeOfQ" class="form-control si-addition" id="{{ q['label'] }}">
                        <option value="" selected>select {{ q['label'] }}</option>
                        {% for v in q['values'] %}
                        <option value="{{v}}" >{{v}}</option>
                        {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                    {% else %}
                    <input style="float:right" type="text" class="form-control si-addition" id="{{ q['label'] }}"  placeholder="{{ q['label'] }}">
                    <div class="clearfix"></div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    </div>
                    <hr>
                    <div class="StudentPart">
                    <h3 style="margin: 10px auto">متطلبات تحديد الطلاب</h3>
                    {% if Sett['Addition-Information'] %}
                    {% for q in Sett['Addition-Information'] %}
                    {% if q['InfoValue'] == "Exam" %}
                    {% if q['type'] == 'select' %}
                    <small style="display : block;" class="hide {{ q['label'] }}"></small>
                        <div class="clearfix"></div>
                        <select style="float:right" name="{{ q['label'] }}" class="form-control si-addition" id="{{ q['label'] }}">
                        <option value="" selected>select {{ q['label'] }}</option>
                        {% for v in q['values'] %}
                        <option value="{{v}}" >{{v}}</option>
                        {% endfor %}
                    </select>
                    <div class="clearfix"></div>
                    {% else %}
                    <input style="float:right" type="text" class="form-control si-addition" id="{{ q['label'] }}"  placeholder="{{ q['label'] }}">
                                        <div class="clearfix"></div>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
                </div>
                  <button type="submit" data-text="اضافة امتحان" class="btn btn-success" id="AddQToDataBase" style="margin: 5px auto; float:right">اضافة الامتحان</button>
                    <div class="clearfix"></div>
            </form>
        </div>
    </div>
    </div>
        <div id="QuestionChoose" class="container">

        </div>
        <div id="bu" class="mt-4 mb-4" style="display:flex; flex-direction:column">
            <small class="mb-2" id="Array_of_Question"  style="margin : auto;"></small>
            <button id="addExam" class="btn btn-success" style="margin : auto;"> اضاقة الاسئلة </button>
        </div>


        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/AddManExam.js') }}"></script>
</body>
</html>
    {% endif %}


