<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Admin.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/settings.css')}}">
    <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
    {% if Language == 'English' or Language is none %}
    <title>Admin Panel</title>
    {% elif Language =="Arabic" %}
    <title>لوحة تحكم الادمن</title>
    {% endif %}
</head>