<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{Admin}}">
    <link rel="stylesheet" href="{{examCSS}}">
    <title>Exam Dashboard</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand Variable" href="#">{{Sett['site_name']}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('dashboard')}}">Back</a>
                </li>
              </ul>
            </div>
          </nav>

    </header>

        <div class="col-sm-12 StudentStatus">
            <div class="row">
            <div class="col-sm-4 absent">
                <h3>Absent Students</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for s in ST['Absent'] %}
                      <tr>
                        <td>{{s['first_name']}}</td>
                        <td>{{s['last_name']}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-sm-4 attended">
                <h3>Attended Students</h3>
                {% if ST['Attended']|length > 0 %}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for s in ST['Attended'] %}
                      <tr>
                        <td>{{s['first_name']}}</td>
                        <td>{{s['last_name']}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                <span style="margin : 5px auto;">No Attended yet</span>
                {% endif %}
            </div>
            <div class="col-sm-4 submitted">
                <h3>Submitted Students</h3>
                {% if ST['Submitted'] %}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for s in ST['Submitted'] %}
                      <tr>
                        <td>{{s['first_name']}}</td>
                        <td>{{s['last_name']}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                <span style="margin : 5px auto;">No Submitted yet</span>
                {% endif %}
            </div>
        </div>
        </div>
        <div class="ExamButtons">
            <a class="btn btn-success" href="{{ url_for('examQ' , exam_id=exam['_id']) }}">Preview</a>
            <a class="btn btn-success">Publish</a>
            <a class="btn btn-danger">Delete</a>
        </div>




        <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/exam.js') }}"></script>
</body>
</html>