{% if Language == 'English' or Language is none %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{Admin}}">
    <link rel="stylesheet" href="{{student}}">
    <link rel="stylesheet" href="{{message}}">
    <title>{{ user['first_name'] }} Messages</title>
</head>
<body>
    <div class="con">
    <div class="infos">
        <h3>{{ user['first_name'] }} {{ user['last_name'] }}</h3>
    <div class="letter alert-success">
            <span>{{user['firstletter']}}</span>
        </div>
        {% with m = get_flashed_messages()%}
        {% if m %}
        {% for message in m %}
        <div class="alert alert-success" style="
    color: #00795c;
    width: fit-content;
    margin: 10px auto;
        ">
        {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    {% set Mes = user['Messages'] %}
    {% if Mes|length == 0 %}
        <div class="SpaCon" style="text-align:center">
            <span>No Messages yet</span>
        </div>
    {% else %}
    {% for m in user['Messages'] %}
        <div class="s-i">
            <form class="formToJoin" action="">
                <span data-sid="{{ current_user.id }}" id="EXAM" style="display : none">{{m}}</span>
                <div class="my-row">
                    <div class="my-col">
                    {% set from = m['ExamInformation']['From'].split('T')[1] %}
                    {% set to = m['ExamInformation']['To'].split('T')[1] %}
                    {% set FROM = from.split(':') %}
                    {% set TO = to.split(':') %}
                    {% if FROM[0]|int > 12 or TO[0]|int > 12 %}
                    <span>from {{FROM[0]|int - 12 }}:{{FROM[1]}} PM to {{TO[0]|int - 12}}:{{TO[1]}} PM</span>
                    {% else %}
                    <span>from {{from}} AM to {{to}} AM</span>
                    {% endif %}                    </div>
                    <div class="my-col">
                    <span>Access-code : {{m['ExamInformation']['AccessCode']}}</span>
                    </div>
                </div>
                    <div class="my-row">
                    <div class="my-col">
                    <span>Question number : {{m['QuestionInformation']['QNO']}}</span>
                    </div> 
                    <div class="my-col">
                        <span>Duration : {{m['ExamInformation']['Duration']}} Minute</span>
                    </div>
                    <div class="my-col">
                        <span>will end in : {{m['ExamInformation']['To'].split('T')[0]}}</span>
                    </div>
                    </div>
                <small class="mb-3" style="display:block;color:red" id="msg"></small>
                <button type="submit" id="join" class="btn btn-success mb-3">Join exam</button>
                  <button type="button" class="btn btn-danger mb-3 deleteMSG">Delete</button>
            </form>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>

    <div class="fixednav">
        <a href="{{url_for('profile')}}" class="Variable"><i class="fa fa-user i"></i></a>
        {% if user['Messages']|length > 0 %}
        <a href="{{url_for('Messages')}}" style="background-color : red" class="Variable message"><i class="fa fa-envelope"></i></a>
        {% else %}
        <a href="{{url_for('Messages')}}" class="Variable message"><i class="fa fa-envelope"></i></a>
        {% endif %}
        <a href="{{url_for('results')}}" id="RES" class="Variable"><i class="fa fa-certificate"></i></a>
        <a href="{{url_for('logout')}}" class="Variable"><i class="fa fa-sign-out" ></i></a>

    </div>

</div>


        <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.jss"></script>
        <script src="{{ url_for('static' , filename='js/message.js') }}"></script>

</body>
</html>
{% elif Language =="Arabic" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{Admin}}">
    <link rel="stylesheet" href="{{student}}">
    <link rel="stylesheet" href="{{message}}">
    <title>{{ user['first_name'] }} رسائل</title>
</head>
<body style="direction : rtl">
    <div class="con">
    <div class="infos">
        <h3>{{ user['first_name'] }} {{ user['last_name'] }}</h3>
    <div class="letter alert-success">
            <span>{{user['firstletter']}}</span>
        </div>
        {% with m = get_flashed_messages()%}
        {% if m %}
        {% for message in m %}
        <div class="alert alert-success" style="
    color: #00795c;
    width: fit-content;
    margin: 10px auto;
        ">
        {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    {% set Mes = user['Messages'] %}
    {% if Mes|length == 0 %}
        <div class="SpaCon" style="text-align:center">
            <span>لا يوجد رسائل</span>
        </div>
    {% else %}
    {% for m in user['Messages'] %}
        <div class="s-i">
            <form class="formToJoin" action="">
                <span data-sid="{{ current_user.id }}" id="EXAM" style="display : none">{{m}}</span>
                <div class="my-row">
                    <div class="my-col">
                    {% set from = m['ExamInformation']['From'].split('T')[1] %}
                    {% set to = m['ExamInformation']['To'].split('T')[1] %}
                    {% set FROM = from.split(':') %}
                    {% set TO = to.split(':') %}
                    {% if FROM[0]|int > 12 or TO[0]|int > 12 %}
                    <span>من {{FROM[0]|int - 12 }}:{{FROM[1]}} PM الي {{TO[0]|int - 12}}:{{TO[1]}} PM</span>
                    {% else %}
                    <span>من {{from}} AM الي {{to}} AM</span>
                    {% endif %}
                    </div>
                    <div class="my-col">
                    <span>رمز الدخول : {{m['ExamInformation']['AccessCode']}}</span>
                    </div>
                </div>
                    <div class="my-row">
                    <div class="my-col">
                    <span>عدد الاسئلة : {{m['QuestionInformation']['QNO']}}</span>
                    </div>
                    <div class="my-col">
                        <span>مدة الامتحان : {{m['ExamInformation']['Duration']}} دقائق</span>
                    </div>
                    <div class="my-col">
                        <span>سينتهي يوم : {{m['ExamInformation']['To'].split('T')[0]}}</span>
                    </div>
                    </div>
                <small class="mb-3" style="display:block;color:red" id="msg"></small>
                <button type="submit" id="join" class="btn btn-success mb-3">دخول</button>
                  <button type="button" class="btn btn-danger mb-3 deleteMSG">حذف</button>
            </form>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>

    <div class="fixednav">
        <a href="{{url_for('profile')}}" class="Variable"><i class="fa fa-user i"></i></a>
        {% if user['Messages']|length > 0 %}
        <a href="{{url_for('Messages')}}" style="background-color : red" class="Variable message"><i class="fa fa-envelope"></i></a>
        {% else %}
        <a href="{{url_for('Messages')}}" class="Variable message"><i class="fa fa-envelope"></i></a>
        {% endif %}
        <a href="{{url_for('results')}}" id="RES" class="Variable"><i class="fa fa-certificate"></i></a>
        <a href="{{url_for('logout')}}" class="Variable"><i class="fa fa-sign-out" ></i></a>

    </div>

</div>


        <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="{{ url_for('static' , filename='js/message.js') }}"></script>

</body>
</html>
{% endif %}