    {% if Language == 'English' or Language is none %}
    <div class="col-sm-12 mt-4 mb-3" style="text-align: center; overflow: auto;">
      <h3>Questions</h3>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">title</th>
              <th scope="col">type</th>
              <th scope="col">...</th>
            </tr>
          </thead>
          <tbody>
          {% for q in question %}
            <tr>
              <td style="overflow: auto;">{{ q['Q-title'] }}</td>
              <td>{{ q['Q-type'] }}</td>
              <td> <button data-sid="{{q['_id']}}" class="btn btn-success ManAdd"> Add </button> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    {% elif Language =="Arabic" %}
    <div class="col-sm-12 mt-4 mb-3" style="text-align: center; overflow: auto;">
      <h3>الاسئلة</h3>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">عنوان السؤال</th>
              <th scope="col">نوع السؤال</th>
              <th scope="col">...</th>
            </tr>
          </thead>
          <tbody>
          {% for q in question %}
            <tr>
              <td style="overflow: auto;">{{ q['Q-title'] }}</td>
              <td>{{ q['Q-type'] }}</td>
              <td> <button data-sid="{{q['_id']}}" class="btn btn-success ManAdd"> اضافة </button> </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}