{% if Language == 'English'  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{registerCss}}">
    <title>Register</title>
</head>
<body>

    <div class="register">
        <h3>sign up in <span class="Variable">{{Sett['site_name']}}</span></h3>
        <div class="user">
            <i class="fa fa-user-circle"></i>
        </div>

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="my-row">
                <div class="my-col">
                  {{ form.first_name(class='form-control' , placeholder='First name') }}
                </div>
                <div class="my-col">
                    {{ form.last_name(class='form-control' , placeholder='Last Name') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.email(class='form-control' , id='exampleInputEmail1'  ,placeholder='Enter your phone') }}
            </div>

              <div class="my-row">
                <div class="my-col">
                    {{ form.password(class='form-control' , placeholder="Password") }}
                </div>
                <div class="my-col">
                    {{ form.confirm(class='form-control' , placeholder="Confirm Password") }}
                </div>
                </div>

              <div class="form-group">
                  {{ form.gender(class="form-control") }}
              </div>
                {{ form.submit(class="btn btn-success") }}
        </form>

        <div class="ask">
            <a href="{{ url_for('login') }}">have an email? login</a>
            {% if errorM %}
        <div class="alert alert-danger" style="
    color: #77000b;
    width: fit-content;
    margin: 10px auto;
        ">{{ errorM }}</div>
        {% endif %}
        </div>
    </div>





        <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>

</body>
</html>
{% elif Language =="Arabic" or Language is none %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{registerCss}}">
    <title>تسجيل</title>
</head>
<body style="direction : rtl;">

    <div class="register">
        <h3>سجل الان في <span class="Variable">{{Sett['site_name']}}</span></h3>
        <div class="user">
            <i class="fa fa-user-circle"></i>
        </div>

        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="my-row">
                <div class="my-col">
                  {{ form.first_name(class='form-control' , placeholder='الاسم الاول') }}
                </div>
                <div class="my-col">
                    {{ form.last_name(class='form-control' , placeholder='الاسم الثاني') }}
                </div>
            </div>
            <div class="form-group">
                {{ form.email(class='form-control' , id='exampleInputEmail1'  ,placeholder='رقم الهاتف') }}
            </div>

              <div class="my-row">
                <div class="my-col">
                    {{ form.password(class='form-control' , placeholder="كلمة المرور") }}
                </div>
                <div class="my-col">
                    {{ form.confirm(class='form-control' , placeholder="تأكيد كلمة المرور") }}
                </div>
                </div>

              <div class="form-group">
                  {{ form.gender(class="form-control") }}
              </div>
                {{ form.submit(class="btn btn-success") }}
        </form>

        <div class="ask">
            <a href="{{ url_for('login') }}">لديك حساب ؟ سجل دخول الان</a>
            {% if errorM %}
        <div class="alert alert-danger" style="
    color: #77000b;
    width: fit-content;
    margin: 10px auto;
        ">{{ errorM }}</div>
        {% endif %}
        </div>
    </div>





        <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>

</body>
</html>
{% endif %}
