              <div class="card-body" style="display : block">
                  <h6 style="text-align:center">عنوان السؤال</h6>
                  <div class="form-group">
                      <input style="width : 100%" type="text" id="{{q['_id']}}title" value="{{q['Q-title']}}" class="form-control">
                  </div>

                  <div class="clearfix"></div>
                {% if q['Q-type'] == 'text' %}
                  {% for choice in q['Choices'] %}
                  <div class="row">
                      <div class="col">
                  <div class="form-group">
                      <input  type="text" value="{{choice[0]}}" class="form-control {{q['_id']}}choice">
                  </div>
                      </div>
                      <div class="col">
                <div class="form-group">
                      <input type="text" value="{{q['score'][loop.index -1 ]}}" class="form-control {{q['_id']}}score">
                  </div>
                      </div>
                  </div>

                  {% endfor %}
                  {% endif %}
                  <div class="conOfBtn" style="display:flex; flex-direction:row; gap:5px; justify-content: center;">
                <button class="btn btn-success UpdateQ" data-sid="{{q['_id']}}">تعديل</button>
                <button class="btn btn-danger  DeleteQ"  data-sid="{{q['_id']}}">حذف</button>
                  </div>
              </div>