{% if Language == 'English'  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{Admin}}">
    <link rel="stylesheet" href="{{settings}}">
    <title>Settings</title>
</head>
<body>
    <header>
{% include 'BackNav.html' %}
    </header>

    <div class="welcome-part alert alert-success">
        <p>Welcome admin : {{user['first_name']}} at <span class="Variable">{{Sett['site_name']}}</span> Dashboard </p>
        <p>this is settings page you can control your site here</p>
    </div>

    <div class="si">
        <h3>Site main settings</h3>
        <div class="si-cont">
            <form action="" class="mainform">
                  <div class="my-row">
                    <label for="lang">Site language</label>
                      <select class="form-control" name="" id="lang">
                          <option value="" selected>Choose Language</option>
                          <option value="English">English</option>
                          <option value="Arabic">Arabic</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-success" style="margin: 5px auto;">Save</button>
            </form>
        </div>
    </div>

        <div class="si">
        <h3>Addition student information</h3>
        <div class="si-cont">
        <span>Add information inputs</span>
            <form action="" class="AdditionStudentInformationForm" method="POST">
                <div class="my-row">
                    <input type="text" class="form-control si-addition" id="labelValue"  placeholder="Label of the input">
                    <select name="TypeOfInputs" class="form-control si-addition" id="si-addition-input-for-students">
                        <option value="text" selected>text</option>
                        <option value="number" >number</option>
                        <option value="select" >Multiple values</option>
                    </select>
                    <select name="TypeOfInputs" class="form-control si-addition" id="si-addition-input-for">
                        <option value="Normal" selected>Normal Information</option>
                        <option value="Exam" >Exam Information</option>
                    </select>
                </div>
                <div class="form-group SelectValues hide">
                    <input type="text" id="ValuesOfSelectBox" class="form-control" style="display:block" placeholder="Values">
                    <small style="color:grey; margin : 0px auto">Write values and separate between each one with double space</small>
                </div>
                  <button type="submit" class="btn btn-success" style="margin: 5px auto;">Add</button>
            </form>
        </div>
    </div>


    <div class="si">
        <h3>Questions Configuration</h3>
        <div class="si-cont">
        <span>Add inputs</span>
            <form action="" class="AdditionQuestionsConfigurationForm" method="POST">
                <div class="my-row">
                    <input type="text" class="form-control si-addition" id="labelValue2"  placeholder="Label of the input">
                    <select name="TypeOfInputs" class="form-control si-addition" id="si-addition-input-for-Q">
                        <option value="text" selected>text</option>
                        <option value="number" >number</option>
                        <option value="select" >Multiple values</option>
                    </select>
                </div>
                <div class="form-group SelectValues2 hide">
                    <input type="text" id="ValuesOfSelectBox2" class="form-control" style="display:block" placeholder="Values">
                    <small style="color:grey; margin : 0px auto">Write values and separate between each one with double space</small>
                </div>
                  <button type="submit" class="btn btn-success" style="margin: 5px auto;">Add</button>
            </form>
        </div>
    </div>



        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/Settings.js') }}"></script>
</body>
</html>
{% elif Language =="Arabic" or Language is none %}
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{Admin}}">
    <link rel="stylesheet" href="{{settings}}">
    <title>Settings</title>
</head>
<body style="direction : rtl">
    <header>
{% include 'BackNav.html' %}
    </header>

    <div class="welcome-part alert alert-success">
        <p style="float:right">مرحبا بك يا  : {{user['first_name']}} في  لوحة تحكم <span class="Variable">{{Sett['site_name']}}</span></p>
                    <div class="clearfix"></div>
        <p style="float:right">هذه صفحة الاعدادات من خلالها يمكنك التحكم في الموقع</p>
                <div class="clearfix"></div>
    </div>

    <div class="si">
        <h3>اعدادات الموقع الاساسية</h3>
        <div class="si-cont">
            <form action="" class="mainform">
                  <div class="my-row">
                      <select style="float:right" class="form-control" name="" id="lang">
                          <option value="" selected>اختر لغة</option>
                          <option value="English">English</option>
                          <option value="Arabic">Arabic</option>
                      </select>
                  </div>
                <div class="clearfix"></div>
              <div class="form-check">
                {% if Sett['ShowPiece'] == True %}
                <input style="position:absolute; right:0" type="checkbox" checked class="form-check-input" id="ShowPiece">
                {% elif Sett['ShowPiece'] == False  %}
                <input style="position:absolute; right:0" type="checkbox" class="form-check-input" id="ShowPiece">
                {% endif %}
                <label style="position:absolute; right:25px; top : -2px" class="form-check-label" for="ShowPiece">اظهار اضافة قطعة</label>
              </div>
                    <div style="height: 30px;" class="clearfix"></div>
                  <button type="submit" class="btn btn-success" style="margin: 5px auto;">حفظ</button>
            </form>
        </div>
    </div>

        <div class="si">
        <h3>معلومات اضافية للطلبة</h3>
        <div class="si-cont">
        <span style="float : right">اضافة حقول</span>
            <div class="clearfix"></div>
            <form action="" class="AdditionStudentInformationForm" method="POST">
                <div class="my-row">
                    <input type="text" class="form-control si-addition Stu" id="labelValue"  placeholder="اسم الحقل">
                    <select name="TypeOfInputs" class="form-control si-addition Stu" id="si-addition-input-for-students">
                        <option value="text" selected>جملة</option>
                        <option value="number" >رقم</option>
                        <option value="select" >متعدد</option>
                    </select>
                    <select name="TypeOfInputs" class="form-control si-addition Stu" id="si-addition-input-for">
                        <option value="Normal" selected>معلومة شخصية</option>
                        <option value="Exam" >معلومة امتحان</option>
                    </select>
                </div>
                <div class="form-group SelectValues hide">
                    <input type="text" id="ValuesOfSelectBox" class="form-control" style="display:block" placeholder="القيم">
                    <small style="color:grey; float:right">اكتب القيم وافصل بين كل واحدة والاخري بالضغط مرتين علي المسافة</small>
                    <div class="clearfix"></div>
                </div>
                  <button type="submit" class="btn btn-success" style="margin: 5px auto;">اضافة</button>
            </form>
        </div>
    </div>


    <div class="si">
        <h3>اعدادت الاسئلة</h3>
        <div class="si-cont">
                <span style="float : right">اضافة حقول</span>
            <div class="clearfix"></div>
            <form action="" class="AdditionQuestionsConfigurationForm" method="POST">
                <div class="my-row">
                    <input type="text" class="form-control si-addition Que" id="labelValue2"  placeholder="اسم الحقل">
                    <select name="TypeOfInputs" class="form-control si-addition Que" id="si-addition-input-for-Q">
                        <option value="text" selected>جملة</option>
                        <option value="number" >رقم</option>
                        <option value="select" >متعدد</option>
                    </select>
                </div>
                <div class="form-group SelectValues2 hide">
                    <input type="text" id="ValuesOfSelectBox2" class="form-control" style="display:block" placeholder="القيم">
                    <small style="color:grey; float:right">اكتب القيم وافصل بين كل واحدة والاخري بالضغط مرتين علي المسافة</small>
                    <div class="clearfix"></div>
                </div>
                  <button type="submit" class="btn btn-success" style="margin: 5px auto;">اضافة</button>
            </form>
        </div>
    </div>



        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/Settings.js') }}"></script>
</body>
</html>

{% endif %}