{% if Language == 'English'  %}
    <div class="parent">
    <div class="welcome-part alert alert-success">
        <p>Welcome admin : {{ user['first_name'] }} at <span class="Variable">{{Sett['site_name']}}</span> Dashboard </p>
        <p>this is the students page you will have here your actual students
        whos have the access on your exams</p>
    </div>
     <h4 style="text-align:center">Search in students</h4>
     <div class="ConForSearch"  style="padding:5px; width:80%; margin:4px auto">
    <div class="SearchDiv mb-2">
    {% for obj in ConfigS %}
    {% if obj['type'] == 'select' %}
        <select class="form-control" name="{{obj['label']}}">
            <option value="" selected>اختر {{obj['label']}}</option>
            {% for option in obj['values'] %}
            <option value="{{option}}" >{{option}}</option>
            {% endfor %}
        </select>
    {% endif %}
    {%else%}
        <input type="text"  class="form-control" placeholder="{{obj}}">
    {% endfor %}
    </div>
    <div class="conOfBtn mb-4" style="display:flex; flex-direction:row; gap:5px; justify-content: center;">
        <button class="btn btn-success SearchQ">بحث</button>
      </div>
</div>
    <h6 style="text-align:center" class="mt-2 mb-3"> Student number <span id="S_NUM" style="#02ab3a !important">({{ S_NUM }})</span> </h6>
    <div class="container-of-ws">
        {% if S_NUM == 0 %}
        <span style="text-align:center; margin-top:10px">No Students yet</span>
        {% else %}
        {% for one_s in FS %}
        <div class="ws">
         {% if one_s['Addition'] %}
<div class="first_letter alert-success">
    <span>{{one_s['firstletter']}}</span>
</div>
        {% else %}
<div class="first_letter alert-danger">
    <span>{{one_s['firstletter']}}</span>
</div>
        {% endif %}
            <div class="infos">
                        <span>Name : {{one_s['first_name']}} {{one_s['last_name']}}</span>
                        <span>Phone Number : {{one_s['phone_number']}}</span>
                        <span>Gender : {{one_s['gender']}}</span>
                        <div class="btns">
                        <a href="#" class="btn btn-primary showST" data-sid="{{ one_s['_id'] }}"><i class="fa fa-eye showST" data-sid="{{ one_s['_id'] }}"></i></a>
                        <a href="#" class="btn btn-danger deleteSt" data-sid="{{ one_s['_id'] }}"><i class="fa fa-times-circle deleteSt" data-sid="{{ one_s['_id'] }}"></i></a>
                        </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
    {% elif Language =="Arabic" or Language is none %}
        <div class="parent">
    <div class="welcome-part alert alert-success">
        <p style="float:right">مرحبا بك يا  : {{user['first_name']}} في  لوحة تحكم <span class="Variable">{{Sett['site_name']}}</span></p>
        <div class="clearfix"></div>
        <p style="float:right">هذه صفحة تعرض طلابك الحاليين بالموقع</p>
        <div class="clearfix"></div>
    </div>

     <h4 style="text-align:center">ابحث في الطلاب</h4>
     <div class="ConForSearch"  style="padding:5px; width:80%; margin:4px auto">
    <div class="SearchDiv mb-2">
    {% for obj in ConfigS %}
    {% if obj['type'] == 'select' %}
        <select class="form-control" name="{{obj['label']}}">
            <option value="" selected>اختر {{obj['label']}}</option>
            {% for option in obj['values'] %}
            <option value="{{option}}" >{{option}}</option>
            {% endfor %}
        </select>
    {% endif %}
    {%else%}
        <input type="text"  class="form-control" placeholder="{{obj}}">
    {% endfor %}
    </div>
    <div class="conOfBtn mb-4" style="display:flex; flex-direction:row; gap:5px; justify-content: center;">
        <button class="btn btn-success SearchQ">بحث</button>
      </div>
</div>
    <div class="container-of-ws" style="text-align : center">
        {% if S_NUM == 0 %}
        <span style="text-align:center; margin-top:10px"> لا يوجد طلاب </span>
        {% else %}
        {% for one_s in FS %}
        <div class="ws">
         {% if one_s['Addition'] %}
<div class="first_letter alert-success">
    <span>{{one_s['firstletter']}}</span>
</div>
        {% else %}
<div class="first_letter alert-danger">
    <span>{{one_s['firstletter']}}</span>
</div>
        {% endif %}
            <div class="infos">
                        <span>الاسم : {{one_s['first_name']}} {{one_s['last_name']}}</span>
                        <span>رقم الهاتف : {{one_s['phone_number']}}</span>
                        <span>النوع : {{one_s['gender']}}</span>

                        <div class="btns">
                        <button class="btn btn-primary showST" data-sid="{{ one_s['_id'] }}" type="button"><i  class="fa fa-eye showST" data-sid="{{ one_s['_id'] }}"></i></button>
                        <a href="#/" class="btn btn-danger deleteSt" data-sid="{{ one_s['_id'] }}"><i class="fa fa-times-circle deleteSt" data-sid="{{ one_s['_id'] }}"></i></a>
                        </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endif %}
