<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{bootstrap}}">
    <link rel="stylesheet" href="{{font}}">
    <link rel="stylesheet" href="{{normalize}}">
    <link rel="stylesheet" href="{{Admin}}">
    <link rel="stylesheet" href="{{examCSS}}">
    <title>اجابات الطالب</title>
</head>
<body style="direction:rtl">
    <header>
        <h5 class="mt-3 mb-4" style="text-align:center"> الاجابات </h5>
    </header>

    <div id="ExamCon" class="container">
        {% for q in QU %}
        {% if q['kind'] == 'Q' %}
        {% if q['Q-type'] == "text"  %}
        <div class="TextQ QUES mt-3" style="padding: 5px; border: .5px solid grey;">
        <h5 data-sid="{{ q['_id'] }}"  class="mb-1 Qid">سؤال {{ loop.index }}</h5>
            <p class="title">
            {{q['Q-title']}}
            </p>
            <div class="choices">
                {% for choice in q['Choices'] %}
                {% set cLoop = loop %}
                {% for c in choice %}
                <div data-score="{{ q['score'][cLoop.index - 1] }}" class="choice C">
                    <span>{{c}}</span>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="QA mt-2 mb-2" style="text-align:center">
                <span style="
                        border: .5px solid gainsboro;
                        padding: 5px;
                        background-color: cornsilk;"></span>
            </div>
        </div>
        {% elif q['Q-type'] == "images" %}

        <div class="ImageQ QUES mt-3" style="padding: 5px; border: .5px solid grey;">
        <h5 style="text-align:center" data-sid="{{ q['_id'] }}"  class="mb-1 Qid">سؤال {{ loop.index }}</h5>
            <p class="title">
                {{q['Q-title']}}
            </p>
            {% if q['TitleImage'] %}
            <div class="ImageContainer titlImage{{q['_id']}}">
                <img src="{{ url_for( 'static' , filename='images/' ) }}{{q['TitleImage']}}" alt="">
            </div>
            <div class="SHOWPHOTO" id="titlImage{{q['_id']}}">
               <img src="{{url_for('static' , filename='images/')}}{{q['TitleImage']}}" alt="">
            </div>
            {% endif %}

            <div class="choices">
                {% for choice in q['Choices'] %}
                {% set xLoop = loop %}
                {% for c in choice %}

                {% if choice|length == 1 %}

                {% if c['type'] == 'text' %}
                <div class="ChoiceText M" data-score="{{ q['score'][xLoop.index - 1] }}">
                    <span> {{c['value']}} </span>
                </div>
                {% elif c['type'] == 'image' %}

                <div class="ChoiceImage M" data-score="{{ q['score'][xLoop.index - 1] }}">
                    <img src="{{url_for('static' , filename='images/')}}{{c['value']}}{{q['_id']}}{{c['Extension']}}"  alt="">
                </div>
                <div class="SHOWCHOICEPHOTO" id="{{c['value']}}">
                    <img src="{{url_for('static' , filename='images/')}}{{c['value']}}{{q['_id']}}{{c['Extension']}}" alt="">
                </div>
                <div class="Showing {{c['value']}}">
                <button class="btn btn-success"><i class="fa fa-eye"></i></button>
                </div>
                {% endif %}

                {% else %}

                {% if c['type'] == 'image' %}
                <div class="ChoiceBoth M" data-score="{{ q['score'][xLoop.index - 1] }}">
                    <img src="{{url_for('static' , filename='images/')}}{{c['value']}}{{q['_id']}}{{c['Extension']}}" alt="">
                </div>
                <div class="SHOWCHOICEPHOTO" id="{{c['value']}}">
                    <img src="{{url_for('static' , filename='images/')}}{{c['value']}}{{q['_id']}}{{c['Extension']}}" alt="">
                </div>
                <div class="Showing {{c['value']}}">
                    <button class="btn btn-success"><i class="fa fa-eye"></i></button>
                </div>

                {% endif %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                </div>
                        <div class="QA mt-2 mb-2" style="text-align:center">
                <span style="
                        border: .5px solid gainsboro;
                        padding: 5px;
                        background-color: cornsilk;"></span>
            </div>
        </div>


    {% endif %}
        <hr>
    {% elif q['kind'] == 'P' %}
                <h5 style="text-align: center;" class="mb-1 mt-1 PID" data-sid="{{q['_id']}}">سؤال {{ loop.index }}</h5>
            <div class="TextQ Passage mt-3" style="padding: 5px; border: .5px solid grey;">
                            <h4 style="text-align:center" class="mt-2 mb-2">{{q['P-title']}}</h4>
        {% for qq in q['P-Questions']  %}
     <h5 style="text-align: center;" class="mb-1 mt-1 Qid">سؤل القطعة رقم {{ loop.index }}</h5>
         <div class="have" style="direction:rtl">
             <span class="htmlOfP" style="display:none">{{ q['P-content'] }}</span>
            <div class="form-control editor-text" contenteditable="false" spellcheck="false" style="height: fit-content; direction:rtl">
            </div>
        </div>
            <div class="PQ">
            <p class="title mt-2 mb-2" data-sid="{{ qq['_id'] }}">
                {{qq['Q-title']}}
            </p>
            <div class="choices">
                {% for choice in qq['Choices'] %}
                {% set outerLoop = loop  %}
                {% for c in choice %}
                <div class="choice Pkind C" data-score="{{ qq['score'][outerLoop.index - 1] }}">
                    <span>{{c}}</span>
                </div>
                {% endfor %}

                {% endfor %}
            </div>
            <div class="QA mt-2 mb-2" style="text-align:center">
                <span style="
                        border: .5px solid gainsboro;
                        padding: 5px;
                        background-color: cornsilk;"></span>
            </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}
    {% endfor %}
    </div>
    <span id="a" style="display:none">{{val}}</span>
        <script src="{{ url_for('static' , filename='js/jquery-3.5.1.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/popper.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static' , filename='js/Answers.js') }}"></script>
    <script>

    </script>
</body>
</html>