        {% if WS_NUM ==0 %}
        <span style="text-align:center; margin-top:10px">No Requests yet</span>
        {% else %}
        {% for one_s in waiting %}
        <div class="ws">
<div class="first_letter alert-success">
    <span>{{one_s['firstletter']}}</span>
            </div>
            <div class="infos">
                        <span>الاسم : {{one_s['first_name']}} {{one_s['last_name']}}</span>
                        <span>رقم الهاتف : {{one_s['phone_number']}}</span>
                        <span>النوع : {{one_s['gender']}}</span>

                        <div class="btns">
                        <a href="#/" class="btn btn-success accept_WS" data-sid="{{ one_s['_id'] }}"><i class="fa fa-check-circle accept_WS" data-sid="{{ one_s['_id'] }}"></i></a>
                        <a href="#/" class="btn btn-danger" data-sid="{{ one_s['_id'] }}"><i class="fa fa-times-circle" data-sid="{{ one_s['_id'] }}"></i></a>
                        </div>

                </div>
            </div>
        {% endfor %}
        {% endif %}
